{
  "project_info": {
    "project_number": "854520441903",
    "project_id": "bloggerheftreng",
    "storage_bucket": "bloggerheftreng.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:854520441903:android:BURAYA_ANDROID_APP_ID",
        "android_client_info": {
          "package_name": "com.heftreng.app"
        }
      },
      "oauth_client": [
        {
          "client_id": "854520441903-BURAYA_WEB_CLIENT_ID.apps.googleusercontent.com",
          "client_type": 3
        },
        {
          "client_id": "854520441903-BURAYA_ANDROID_CLIENT_ID.apps.googleusercontent.com",
          "client_type": 1,
          "android_info": {
            "package_name": "com.heftreng.app",
            "certificate_hash": "BURAYA_SHA1_FINGERPRINT"
          }
        }
      ],
      "api_key": [
        {
          "current_key": "AIzaSyCZByW_n4B888Ec4cjNQDoQovU-rVN75gs"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "854520441903-BURAYA_WEB_CLIENT_ID.apps.googleusercontent.com",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}
